.left-nav {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.logo {
  position: relative;
  width: 80%;
  padding: 5rem 0;
  margin-right: auto;
  margin-left: auto;
}

.logo-image {
  width: 100%;
  height: auto;
}
