.card-body {
  width: 80%;
  background-color: var(--color-gray-light-2);
  box-shadow: var(--shadow-medium);
  padding: 2rem 4rem;
}

.card-title {
  padding: 2.4rem 1.6rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
.card-info-header {
  text-transform: uppercase;
  font-weight: 550;
}
.card-info {
  color: var(--text-color-dark);
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;
}

.card-info-description {
  margin-bottom: 2rem;
}

.card-button {
  align-self: center;
  background-color: var(--color-secondary);
}
