.logo {
  position: relative;
  width: 80%;
  padding: 5rem 0;
  margin-right: auto;
  margin-left: auto;
}

.logo-image {
  width: 100%;
  height: auto;
}

.logo-wrapper {
  width: 25%;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &__text {
    padding-bottom: 4rem;
  }
}
