.sign-up-table-wrapper {
  width: 80%;
  align-items: left;
  text-align: left;
}

.table-title {
  color: var(--text-color-black);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.sign-up-table {
  box-shadow: var(--shadow-light);
}

.sign-up-table-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-gray-extra-light);
  border: 1px solid var(--color-gray-ligth);

  &__title {
    text-transform: uppercase;
    color: var(--text-color-dark);
    font-size: 1.8;
    padding: 1rem;
  }

  &__button {
    // height: 4rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 350;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0.8rem 4.4rem;
    background-color: var(--text-color-dark);
    margin-left: auto;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);

    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.6);
    }

    &:active {
      box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.6);
      transform: translateY(0);
    }
  }
}
