.app-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.app-content {
  display: flex;
  flex-direction: row;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  flex-basis: 75%;
}

.page-title {
  padding-bottom: 4rem;
}

.page-header {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.button {
  font-weight: 350;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.8rem 4.4rem;

  margin-left: auto;
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;

  color: #fff;

  &__small {
    font-size: 1.5rem;
  }

  &__large {
    font-size: 2.2rem;
  }
}

.text-button {
  color: #0364ac;
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  background-color: inherit;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-light-2);
  }

  &:active {
    background-color: var(--color-gray-light);
  }
}

.animated-button {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.6);
  }

  &:active {
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.6);
    transform: translateY(0);
  }
}

.initials {
  font-weight: 500;
  font-size: 2.2rem;
  text-transform: uppercase;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  color: #fff;
  background-color: var(--color-secondary);
  overflow: hidden;

  position: relative;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.align-center {
  text-align: center;
}
